objs/
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libogg.txt
dist/README-libopus.txt
dist/README-libpng.txt
dist/README-opusfile.txt
dist/SDL2.dll
dist/demo
dist/demo.exe
dist/demo.ilk
dist/demo.pdb
dist/*.pnct
dist/*.scene
sprites/pack-sprites
sprites/pack-sprites.exe
sprites/pack-sprites.ilk
sprites/pack-sprites.pdb
sprites/trade-font/
scenes/*.blend[0-9]
scenes/show-meshes
scenes/show-meshes.exe
scenes/show-meshes.ilk
scenes/show-meshes.pdb
scenes/show-scene
scenes/show-scene.exe
scenes/show-scene.ilk
scenes/show-scene.pdb
scenes/SDL2.dll
screenshots/
